.root {
  position: relative;
  z-index: 2;
  padding: 0 20px;
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 50px;
  overflow: hidden;
  main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
